version: '3.8'

services:
  mongodb:
    image: mongo:latest
    container_name: loqo-active-mongo
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: examplepassword

  mongo-express:
    image: mongo-express
    container_name: loqo-active-express
    restart: always
    ports:
      - "8081:8081"
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: root
      ME_CONFIG_MONGODB_ADMINPASSWORD: examplepassword
      ME_CONFIG_MONGODB_URL: mongodb://root:examplepassword@mongodb:27017/
    depends_on:
      - mongodb
